.img {
    width: 100px;
}
header {
    text-align: center;
}
nav li {
    display: inline;
    padding: 60px;
    font-size: 20px;
}
nav a{
    text-decoration: none;
    color: black;
}
nav a:hover{
    text-decoration: underline;
}
.main {
    background-color: #ffffff;
    color: #000;
}
.welcome{
    padding: 20px; /* Hcemos un espacio alrededor de 20px alrededor del contenido */
    background-color: darkblue; /* Color de dondo del DIV */
    text-align: center; /* Alineamos el texto al centro */
    color: white; /*Colocamos color blanco al texto */
}